<a class="btn btn-primary pull-right" href="#/create/movie"><i class="fa fa-plus"></i> Create movie</a>
<br/><br/>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Url</th>
			<th>Options</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="movie in movies">
			<td><a href="#/movie/{{movie._id}}">{{movie.title}}</a></td>	
			<td>{{movie.url}}</td>
			<td style="width:100px;">
				<div class="button-group">
					<a href="#/movie/{{movie._id}}/edit" class="btn btn-success"><i class="fa fa-pencil"></i></a>
					<a href="#/movie/{{movie._id}}/delete" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
				</div>
			</td>
		</tr>
	</tbody>
</table>